.Customer {
    width: 250px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
	 color:red;
    cursor: pointer;
}

.Customer:hover,
.Customer:active {
    background-color: #C0DDF5;
}

.Customer {
    margin: 16px 0;
    color: #ff0000;
	 background-color:#EEE;
}
